/*margen general de la pagina*/
#todas{
	margin-bottom: 30px;
	margin-top: 40px;
}

section{
	padding: 25px;
	margin-top: 20px;
	margin-right: 20px;
	margin-left: 20px;
}

/*colores de cada seccion*/
.seccion-material-apuntes{background-color: #f9dfff;}
/*.seccion-material-apuntes{background-color: #f9dbd4;}*/

.seccion-cursos-opiniones{background-color: #EBE3DD;}
.seccion-general{background-color: #DBEFF6;}
.seccion-organizacion{background-color: #f2f2f2;}
.seccion-noticias{background-color: #83D0FD;}
.seccion-grupos{background-color: #BFFBF5;}
.seccion-varios{background-color: #B3FDCC;}



/*para que las imagenes queden todas del mismo tamaño*/
.card-img-top {
    width: 100%;
    height: 20vw;
    /*object-fit: scale-down;       https://developer.mozilla.org/es/docs/Web/CSS/object-fit*/
    object-fit: cover;
}



#abajo{
   text-align:center;
   font-size: small;
}


