#todas{
	margin-bottom: 30px;
	margin-top: 40px;
}

section{
	padding: 25px;
	margin-top: 20px;
	margin-right: 20px;
	margin-left: 20px;
}

.card div:hover{
	background-color: #f2abb2;
}

.seccion-material-apuntes{background-color: #f2f2f2;}
.seccion-cursos-opiniones{background-color: #fff2f2;}
.seccion-general{background-color: #f2aaa2;}
.seccion-organizacion{background-color: #f2abb2;}


.card-img-top {
    width: 100%;
    height: 20vw;
    /*object-fit: scale-down;       https://developer.mozilla.org/es/docs/Web/CSS/object-fit*/
    object-fit: cover;
}