



/*margen general de la pagina*/
#todas {
	margin-bottom: 30px;
	/* margin-top: 40px; */

	/* permite que al alejar quede centrado todo el contenido */
	/* display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center; */
}

/* colores para el body entero  */
/* background-color: #343838; */
/* color: darkgray; */

.section {
	padding: 10px;
	margin-top: 10px;
	margin-right: 20px;
	margin-left: 20px;
	text-align: center;
	border-radius: 10px;
}

/*colores de cada seccion*/
.seccion-material-apuntes{background-color: #EEF6F4;}
/*.seccion-material-apuntes{background-color: #f9dbd4;}*/
.seccion-general{background-color: #EEFFEB;}
.seccion-cursos-opiniones{background-color: #EEF6F4;}
.seccion-organizacion{background-color: #E5FBFF;}
.seccion-grupos{background-color: #EEFFEB;}
.seccion-noticias{background-color: #E5FBFF;}
.seccion-varios{background-color: #EEFFEB;}


.display-cards-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 1rem;
	justify-content: stretch;
	align-items: stretch;
}




/* display: 'flex', flexDirection: 'column', alignItems: 'left', justifyContent: 'center', maxWidth: '1800px'} */
.display-cards-column {
	display: flex;
	flex-direction: column;
	/* display: grid;
	flex-direction: column;
	justify-content: stretch;
	align-items: stretch; */


	/* justify-content: left;
	align-items: left; */
	max-width: 1600px;
	/* min-width: 100%; */
	/* width: 100%; */
	gap: 2px;
}


/*zoom al pasar el mouse por encima https://w3bits.com/css-image-hover-zoom/ */
.img-hover-zoom {
	max-height: 300px;
	overflow: hidden;
}

.img-hover-zoom img {
	transition: transform .2s ease;
}

.img-hover-zoom:hover img {
	transform: scale(1.05);
}


.new-line{
	white-space: pre-line;
	vertical-align: bottom;
}



.links-in-text {
	color: rgb(65, 163, 255);
}
.links-in-text:hover {
	color: rgb(255, 65, 65);
}




/* cuando la pantalla es de un dispositivo movil */
@media screen and (max-width: 750px) {
	.display-cards-grid {
		grid-template-columns: 1fr;
	}

	.img-hover-zoom {
		/* height: 100px; */
		display: none;
	}
}